<!DOCTYPE html>
<html lang="ru">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Cozymoon</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/log.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='sty.css') }}">
</head>
<body>

    <div class="window image">
        <div style="height: 1112px;">
            <nav class="d-flex justify-content-around" style="padding-left: 60px; padding-right: 60px; padding-top: 30px;">
                <div  class="d-flex align-items-center">
                    <a href="/" class="d-block"><img src="{{ url_for('static', filename='img/logo-up.png') }}" style="height: 80px"></a>

                </div>
                <div class="d-flex justify-content-around align-items-center">
                    <div><a>Dota 2</a></div>
                    <div class="mx-5"><a>Minecraft</a></div>
                    <div class="mx-5"><a>VALORANT</a></div>
                    <div class="mx-5"><a>Mobile Legends</a></div>
                    <div class="mx-5"><a>Counter-Strike: 2</a></div>
                    <div class="mx-5"><a>Legue of Legends</a></div>
                </div>

            </nav>
            <div class="d-flex justify-content-center" style="margin-top: 150px">
                <div style="padding-left: 18%; padding-right: 18%; line-height: 120%">
                    <h2 style="font-size: 3.3em; ">О нас</h2>
                    <p style="font-size: 1.1em" class="m-0"><h>Cozy Moon</h> - это не просто сервер в Discord.</p>
                    <p style="font-size: 1.1em">Это сообщество, в котором люди объединяются вместе чтобы хорошо провести время. В этом мире каждый воспринимает хорошее проведение времени по своему: для одних это веселье в играх-песочницах, для других это забавные матчи в соревновательных играх, а для третьих это серьёзный подход к игре и рвение в киберспорт. Мы разделяем все эти подходы и создаём уютную атмосферу для того, чтобы ваше времяпровождение стало действительно хорошим.</p>
                    <div class="d-flex justify-content-end mt-5"><a class="btn ds-btn d-flex align-items-center justify-content-center"  style="font-size: 1.15em!important;">Посетить&nbsp;<h>CozyMoon</h></a></div>
                </div>

            </div>
        </div>

        <div class="moon-block">
            <h2 style="font-size: 3.3em; margin-left: 850px; position: relative; bottom: 97px; ">О разделах</h2>
            <div style="max-width: 350px; position: relative; bottom: 190px; margin-left: 130px">
                <div class="d-flex justify-content-start">
                    <div class="game-block">
                        <div style="border-radius:55px;height: 110px; width:110px;background-image: url({{ url_for('static', filename='img/dota.jpg') }}); background-position: center center; background-size: cover"></div>
                        <div class="d-flex justify-content-center mt-2"><p>Dota 2</p></div>
                    </div>
                    <div class="game-block">
                        <div style="border-radius:55px;height: 110px; width:110px;background-image: url({{ url_for('static', filename='img/mini.jpg') }}); background-position: center center; background-size: cover"></div>
                        <div class="d-flex justify-content-center mt-2"><p>Minecraft</p></div>
                    </div>
                    <div class="game-block">
                        <div style="border-radius:55px;height: 110px; width:110px;background-image: url({{ url_for('static', filename='img/val.jpg') }}); background-position: center center; background-size: cover"></div>
                        <div class="d-flex justify-content-center mt-2"><p>Valorant</p></div>
                    </div>
                </div>
                <div class="d-flex justify-content-start" style="margin-left: 85px">
                    <div class="game-block">
                        <div style="border-radius:55px;height: 110px; width:110px;background-image: url({{ url_for('static', filename='img/ml.jpg') }}); background-position: center center; background-size: cover"></div>
                        <div class="d-flex justify-content-center mt-2"><p>Mobile Legends</p></div>
                    </div>
                    <div class="game-block">
                        <div style="border-radius:55px;height: 110px; width:110px;background-image: url({{ url_for('static', filename='img/cs2.jpg') }}); background-position: center center; background-size: cover"></div>
                        <div class="d-flex justify-content-center mt-2"><p>Counter-Strike: 2</p></div>
                    </div>
                    <div class="game-block">
                        <div style="border-radius:55px;height: 110px; width:110px;background-image: url({{ url_for('static', filename='img/lol.jpg') }}); background-position: center center; background-size: cover"></div>
                        <div class="d-flex justify-content-center mt-2"><p>League of Legends</p></div>
                    </div>
                </div>
            </div>
            <div>
                <p></p>
            </div>
        </div>
        <div class="moon" style="background-image: url({{ url_for('static', filename='img/moon.svg') }}); width: 880px; height: 880px; position: relative">
            <div style="position: relative; left: 160px; top: 240px; width: 400px">
                <p class="mb-0 mx-2" style="font-size: 1.15em; line-height: 130%; text-align: right">В нашем сообществе всё проис-</p>
                <p class="mb-0" style="font-size: 1.15em; line-height: 130%; text-align: right">ходящее внутри разных игр и<br> дисциплин, делится на разделы.<br> Открыв их вы получите доступ к</p>
                <p class="mb-0 mx-1" style="font-size: 1.15em; line-height: 130%; text-align: right"> основной части контента сооб-</p>
                <p class="mb-0 mx-4" style="font-size: 1.15em; line-height: 130%; text-align: right">щества</p>
            </div>
        </div>
        <h2 style="font-size: 3.3em; position: relative; bottom: 660px; left: 350px; width: 400px">О событиях</h2>
        <div style=" position: relative; bottom: 450px; left: 350px; width: 500px">
            <h3 style="font-size: 1.8em;" class="mb-5">Название события</h3>
            <p style="font-size: 1.15em; line-height: 130%">В нашем сообществе всё происходящее<br>внутри разных игр и дисциплин, делится<br>на разделы.</p>
        </div>
        <p class="p-obl">Осторожно,<br>уютная атмосфера!</p>
        <div class="footer">
            <div class="d-flex justify-content-between">
                <div>
                    <img src="{{ url_for('static', filename='img/obl.png') }}" style="margin-bottom: 65px">

                    <div>
                        <h4 class="mb-3">Navigation</h4>
                        <div class="d-flex justify-content-start">
                            <div class="footer-nav-block">
                                <a>Home</a>
                                <a>Progects</a>
                            </div>
                            <div class="footer-nav-block mx-3">
                                <a>Dota 2</a>
                                <a>Valorant</a>
                                <a>Counter-Strike: 2</a>
                            </div>
                            <div class="footer-nav-block">
                                <a>League of legends</a>
                                <a>Minecraft</a>
                                <a>Mobile Legends</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <form>
                        <input type="text" class="w-100" placeholder="Full name or Nickname...">
                        <div class="d-flex justify-content-between">
                            <input type="email" placeholder="E-mail adres..." class="w-100" style="margin-right: 10px;">
                            <input type="text" placeholder="Discord name...">
                        </div>
                        <input type="text" class="w-100" placeholder="Title...">
                        <textarea type="text" class="w-100 mb-0" placeholder="Message..." rows="5"></textarea>
                        <p class="float-end mb-0">support@cozymoon.ru</p>
                    </form>
                </div>
            </div>
            <h4>Our Socials</h4>
            <div class="d-flex justify-content-between align-items-center">
                <div>

                    <div class="d-flex justify-content-start">
                        <div class="soc"></div>
                        <div class="soc"></div>
                        <div class="soc"></div>
                        <div class="soc"></div>
                    </div>
                </div>
                <img src="{{ url_for('static', filename='img/logo-down.png') }}" style="height: 70px;">
            </div>

        </div>
    </div>
{#    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>#}
{#    <script src="{{ url_for('static', filename='func.js') }}"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>