<!DOCTYPE html>
<html lang="ru">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Cozymoon</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/log.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='sty.css') }}">
</head>
<body>
<div class="mid"></div>

    <div class="menu position-fixed w-100 d-none">
        <nav class="d-flex justify-content-between align-items-center" style="padding-left: 60px; padding-right: 60px; padding-top: 30px;">
            <div  class="d-flex align-items-center">
                <a href="/" class="d-block"><img src="{{ url_for('static', filename='img/logo-up.png') }}" style="height: 80px"></a>

            </div>
            <div style="cursor: pointer" class="out d-flex justify-content-center align-items-center" onclick="menu_out()">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                </svg>
            </div>

        </nav>
        <div class="games">
            <div class="w-100">
                <div class="d-flex justify-content-between">
                    <div class="mb-4">
                        <p>Game one</p>
                        <a>DOTA 2</a>
                    </div>
                    <div class="option"><div class="mb-4 text-end">
                        <p>Option one</p>
                        <a>PROJECTS</a>
                    </div></div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="mb-4">
                        <p>Game two</p>
                        <a>VALORANT</a>
                    </div>
                    <div class="option"><div class="mb-4 text-end">
                        <p>Option two</p>
                        <a>HOME</a>
                    </div></div>
                </div>
                <div class="mb-4">
                    <p>Game three</p>
                    <a>MINECRAFT</a>
                </div>
                <div class="mb-4">
                    <p>Game four</p>
                    <a>MOBILE LEGENDS</a>
                </div>
                <div class="mb-4">
                    <p>Game five</p>
                    <a>COUNTER-STRIKE: 2</a>
                </div>
                <div class="mb-4">
                    <p>Game six</p>
                    <a>LEGUE OF LEGENDS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="window image">
        <div style="height: 890px;">
            <nav class="d-flex" style="padding-left: 60px; padding-right: 60px; padding-top: 30px;">
                <div  class="d-flex align-items-center">
                    <a href="/" class="d-block"><img src="{{ url_for('static', filename='img/logo-up.png') }}" style="height: 80px"></a>

                </div>
                <div class="d-flex justify-content-around align-items-center menu-max">
                    <div><a>Dota 2</a></div>
                    <div class="mx-5"><a>Minecraft</a></div>
                    <div class="mx-5"><a>VALORANT</a></div>
                    <div class="mx-5"><a>Mobile Legends</a></div>
                    <div class="mx-5"><a>Counter-Strike: 2</a></div>
                    <div class="mx-5"><a>Legue of Legends</a></div>
                </div>
                <div style="cursor: pointer" class="d-flex justify-content-center align-items-center menu-min" onclick="menu_in()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </div>

            </nav>
            <div class="d-flex justify-content-center" style="margin-top: 150px">
                <div style="padding-left: 18%; padding-right: 18%; line-height: 120%">
                    <h2 style="font-size: 3.3em; ">О нас</h2>
                    <p style="font-size: 1.1em" class="m-0"><h>Cozy Moon</h> - это не просто сервер в Discord.</p>
                    <p style="font-size: 1.1em">Это сообщество, в котором люди объединяются вместе чтобы хорошо провести время. В этом мире каждый воспринимает хорошее проведение времени по своему: для одних это веселье в играх-песочницах, для других это забавные матчи в соревновательных играх, а для третьих это серьёзный подход к игре и рвение в киберспорт. Мы разделяем все эти подходы и создаём уютную атмосферу для того, чтобы ваше времяпровождение стало действительно хорошим.</p>
                    <div class="d-flex justify-content-end mt-5"><a class="btn ds-btn d-flex align-items-center justify-content-center"  style="font-size: 1.15em!important;">Посетить&nbsp;<h>CozyMoon</h></a></div>
                </div>

            </div>
        </div>
{#        <div class="moon-grad position-absolute"></div>#}
        <div class="d-flex justify-content-center" style="background-color: rgba(37,28,68);">
            <div style="width: 80%">
                <div style="width: 100px; height: 100px; border-radius: 50px; background-color: #6a1a21"></div>
                <div style="border-radius: 30px; height: 150px; background-color: #6f6bab; margin-left: 120px; margin-top: 20px; padding: 10px">Здарова ебать</div>
                <div style="border-radius: 30px; height: 60px; width: 150px; background-color: #6f6bab; margin-left: 120px; margin-top: 20px; padding: 10px">Попиздели!</div>
                <div style="border-radius: 30px; height: 150px; width: 150px; background-color: #6f6bab; margin-left: 120px; margin-top: 20px;"><img class="w-100 h-100" style="border-radius: 30px;" src="{{ url_for('static', filename='img/st.jpg') }}"> </div>
            </div>
        </div>
        <div class="mid2"></div>

        <div class="ivent">
            <div style="margin-left: 10%; padding-left: 180px"><h2 style="font-size: 3.3em;">О&#160;событиях</h2></div>
            <div class="d-flex justify-content-center">
                <div style="background-color: #f0f0ef; width: 80%; border-radius: 30px">
                    <div class="under-moon">
                        <div style="max-width: 657px; padding-top: 200px; padding-left: 180px">
                            <h3 class="mb-4" style="font-size: 1.7em; line-height: 130%;">Название события</h3>
                            <p class="mb-0" style="font-size: 1.15em; line-height: 130%;">В нашем сообществе всё происходящее</p>
                            <p class="mb-0" style="font-size: 1.15em; line-height: 130%;">внутри разных игр и дисциплин делится</p>
                            <p class="mb-0" style="font-size: 1.15em; line-height: 130%;">на разделы</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <div class="down footer d-flex justify-content-center">
            <div style="width: 70%; padding-top: 150px">
                <div class="d-flex justify-content-between">
                <div>
                    <img src="{{ url_for('static', filename='img/obl.png') }}" style="margin-bottom: 65px">

                    <div>
                        <h4 class="mb-3">Navigation</h4>
                        <div class="d-flex justify-content-start">
                            <div class="footer-nav-block">
                                <a>Home</a>
                                <a>Projects</a>
                            </div>
                            <div class="footer-nav-block mx-3">
                                <a>Dota 2</a>
                                <a>Valorant</a>
                                <a>Counter-Strike: 2</a>
                            </div>
                            <div class="footer-nav-block">
                                <a>League of legends</a>
                                <a>Minecraft</a>
                                <a>Mobile Legends</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form">
                    <form>
                        <input type="text" class="w-100" placeholder="Full name or Nickname...">
                        <div class="d-flex justify-content-between">
                            <input type="email" placeholder="E-mail adres..." class="w-100" style="margin-right: 10px;">
                            <input type="text" placeholder="Discord name...">
                        </div>
                        <input type="text" class="w-100" placeholder="Title...">
                        <textarea type="text" class="w-100 mb-0" placeholder="Message..." rows="5"></textarea>
                        <p class="float-end mb-0">support@cozymoon.ru</p>
                    </form>
                </div>
            </div>
                <h4>Our Socials</h4>
                <div class="d-flex justify-content-between align-items-center">
                <div>

                    <div class="d-flex justify-content-start">
                        <div class="soc"></div>
                        <div class="soc"></div>
                        <div class="soc"></div>
                        <div class="soc"></div>
                    </div>
                </div>
                <img src="{{ url_for('static', filename='img/logo-down.png') }}" style="height: 70px;">
            </div>
            </div>
        </div>
    </div>

{#    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>#}
    <script src="{{ url_for('static', filename='func.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>